{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Worker Detail" %}
{% endblock title %}

{% block content %}
  <section class="pt-3 pb-4">
    <div class="container">
      <h2 class="text-center">{% translate "Worker Detail" %}</h2>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ worker.username }}</h4>
            </div>

            <div class="card-body">
              <p><strong>{% translate "First name" %}:</strong> {{ worker.first_name }}</p>
              <p><strong>{% translate "Last name" %}:</strong> {{ worker.last_name }}</p>
              <p><strong>{% translate "Email" %}:</strong> {{ worker.email }}</p>
              <p><strong>{% translate "Position" %}:</strong> {{ worker.position }}</p>
              <p><strong>{% translate "Assigned to (Completed Tasks)" %}:</strong></p>

              {% if completed_tasks %}
                {% for task in completed_tasks %}
                  <a href="{{ task.get_absolute_url }}" class="badge bg-success">{{ task.name }}</a>
                {% endfor %}

              {% else %}
                <p>No completed tasks.</p>
              {% endif %}

              <p><strong>{% translate "Assigned to (Pending Tasks)" %}:</strong></p>

              {% if pending_tasks %}
                {% for task in pending_tasks %}
                  <a href="{{ task.get_absolute_url }}" class="badge bg-warning">{{ task.name }}</a>
                {% endfor %}

              {% else %}
                <p>{% translate "No pending tasks" %}.</p>
              {% endif %}
            </div>

            <div class="card-footer text-center">
              <a href="{% url 'accounts:worker-update' pk=worker.id %}" class="btn btn-warning btn-sm">{% translate "Edit" %}</a>
              <a href="{% url 'accounts:worker-delete' pk=worker.id %}" class="btn btn-danger btn-sm">{% translate "Delete" %}</a>
              <a href="{% url 'accounts:worker-list' %}" class="btn btn-secondary btn-sm">{% translate "Back to List" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
