<!--
=========================================================
* Soft UI Design System - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-design-system
* Copyright 2021 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Task Manager - {% block title %}{% endblock title %}
  </title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link id="pagestyle" href="{% static "css/soft-design-system.css" %}?v=1.0.1" rel="stylesheet">

</head>

<body>
{% include "includes/navigation.html" %}

{% include "includes/waves.html" %}

{% block content %}{% endblock content %}

{% include "includes/pagination.html" %}

{% block javascripts %}
  <script src="{% static "js/base.js" %}"></script>
{% endblock javascripts %}
</body>

<footer class="footer pt-5 mt-5">
  {% include "includes/footer.html" %}
</footer>
</html>
